# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MY FILES\GitHub\GNHS_HEALTH_APPRAISAL_AND_MEDICAL_RECORDS_WITH_INVENTORY_SYSTEM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
